.mainboxkit {
  -webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  background-color: rgb(128, 128, 128, 0.95);
  color: black;
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.secondboxkit {
  border-bottom-left-radius: 20px;
}

.carousel * {
  box-sizing: border-box;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.boxkit-first {
  -webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  background-color: rgb(128, 128, 128, 0.95);
  color: black;
  margin-top: 20vh;
  margin-bottom: 10vh;
}

.boxkit-mid-leistungen {
  -webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  background-color: rgb(128, 128, 128, 0.95);
  color: black;
  margin-top: 10vh;
  margin-bottom: 10vh;
  min-height: 100vh;
}

.boxkit-mid-projekte {
  -webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  background-color: rgb(128, 128, 128, 0.95);
  color: black;
  margin-top: 10vh;
  margin-bottom: 10vh;
  min-height: 80vh;
}

.boxkit-last {
  -webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  background-color: rgb(128, 128, 128, 0.95);
  color: black;
  margin-top: 10vh;
  margin-bottom: 15vh;
}

.boxkit-Impressum {
  -webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  background-color: rgb(128, 128, 128, 0.95);
  color: black;
  margin-top: 20vh;
  margin-bottom: 50vh;
}

.boxkit-datenschutz {
  -webkit-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 16px 4px -7px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  background-color: rgb(128, 128, 128, 0.95);
  color: black;
  margin-top: 20vh;
  margin-bottom: 15vh;
}
