.marginIconRight_0 {
  margin-right: 0.7em;
}

.marginIconRight_1 {
  margin-right: 0.5em;
}

.margintop {
  margin-top: 0.2em;
}

.marginbottom {
  margin-top: 0.2em;
}

.lg_margintop {
  margin-top: 0.4em;
}

.lg_marginbottom {
  margin-top: 0.4em;
}

.xlg_margintop {
  margin-top: 0.6em;
}

.xlg_marginbottom {
  margin-top: 1em;
}
/*
p {
  font-size: larger;
}*/
